# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
.env/
.venv/
ENV/
env.bak/
*.env

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# JetBrains IDEs (PyCharm, etc.)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Migrations (optional, якщо не хочеш відслідковувати)
# */migrations/__pycache__/
# */migrations/*.py[cod]
